h1{
  font-family: Kaushan Script;
  font-size: 55px;
}

/*CSS Carousel*/
.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out bottom;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: -400px;
}

.carousel.vertical .prev {
  top: 0;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0px;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}


/*BOOTSTRAP modif CSS*/
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
[class*="col-"] {
	padding-left: 0px;
	padding-right: 0px;
}

/*CSS Général*/
body {
	background-color: rgba(17, 17, 17, 1);
}
h2 {
	padding-left: 2%;
	color: rgba(246, 139, 31, 1);
	font-size: 70px;
}
h4 {
	color: white;
}

@media screen and (max-width: 900px){
	h2 {
		font-size: 50px;
	}
	#date img {
		width: 75px;
	}
}
@media screen and (max-width: 550px){
	h2 {
		font-size: 25px;
	}
	#date img {
		width: 69px;
	}
}

/*Accueil*/
#homepage {
	width: 100%;
}
#homepage .container-fluid {
    min-height: 220px;
}
#myCarousel{
	position: relative;
	overflow: hidden;
	z-index: 1;
}
#myCarousel img {
	width: 100%;
}

#navbar {
	background: rgba(0,0,0,0.8);
	padding-top: 15px;
	font-size: 20px;
	min-height: 42px;
	width: 100%;
	/*position: relative;*/
	z-index: 100;
	color: white;
	text-align: center;
	margin-top:-1%;
	border-bottom: 1px solid #333;
}
#navbar ul li a:hover {
    color: rgba(246, 139, 31, 1);
    transition: color 0.5s;
}
#navbar ul li a {
	margin-top : 40px;
}
.navbar-fixe {
	position: fixed;
	top: 0;
	background-color: #333;
}

.menu {
	/*margin-top:-2.8%;*/
}
.menu li a {
	text-decoration: none;
	color: white;
}
.menu li {
	list-style-type: none;
	padding-bottom: 5px;
}

#paveAccueil {
	position: absolute;
	float:left;
	z-index: 100;
	background-color: rgba(0,0,0,0.4);
	margin-left: 5%;
	margin-top: 5%;
	color: white;
	padding: 5px 5px 5px 5px;
}

/*CSS programmes*/
#prog {
	margin-top: 40px;
}
#programmes {
	padding-left: 20px;
	padding-right: 20px;
}

.imgBloc {
	width: 300px;
	margin: auto;
}
#contenu {
	text-align: center;
	margin-left: 0px;

}


/*Effets CSS programme*/
figure.effect-zoe figcaption {
	top:auto;bottom:0;
	height:5.2em;
	color:#3c4a50;
	-webkit-transition:-webkit-transform .35s;
	transition:transform .35s;
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0)
}
 figure.effect-zoe h2 {
 	float:left;
 }
 figure.effect-zoe p.icon-links a {
 		float:right;
 		color:#3c4a50;
 		font-size:1.4em;
 }
 figure.effect-zoe:hover p.icon-links a:hover,figure.effect-zoe:hover p.icon-links a:focus {
 	color:#252d31;
 }

 figure.effect-zoe p.description {
 		position:absolute;
 		bottom:8em;
 		padding:2em;
 		color:#fff;
 		text-transform:none;
 		font-size:90%;
 		opacity:0;
 		-webkit-backface-visibility:hidden;
 		-webkit-transition:opacity .35s;
 		transition:opacity .35s;
 		-webkit-backface-visibility:hidden;
 }

 figure.effect-zoe p.description {
 	background-color: rgba(0,0,0,0.4);
 	width: 100%;
 }

 figure.effect-zoe h2,figure.effect-zoe p.icon-links a {
 	-webkit-transition:-webkit-transform .35s;
 	transition:transform .35s;
 	-webkit-transform:translate3d(0,200%,0);
 	transform:translate3d(0,200%,0)
}
 figure.effect-zoe p.icon-links a span::before {
 	display:inline-block;padding:8px 10px;
 	font-family:'feathericons';
 	speak:none;
 	-webkit-font-smoothing:antialiased;
 	-moz-osx-font-smoothing:grayscale;
 }
 .icon-eye::before{
 	content:'\e000';
 }
 .icon-paper-clip::before {
 	content:'\e001';
 }
 .icon-heart::before{
 	content:'\e024';
}
 figure.effect-zoe h2 {
 	display:inline-block;
 }
 figure.effect-zoe:hover p.description{
 	opacity:1;
 }
 figure.effect-zoe:hover figcaption,figure.effect-zoe:hover h2,figure.effect-zoe:hover p.icon-links a {
 	-webkit-transform:translate3d(0,0,0);
 	transform:translate3d(0,0,0);
}
 figure.effect-zoe:hover h2 {
 	-webkit-transition-delay:.05s;transition-delay:.05s;
 }
 figure.effect-zoe:hover p.icon-links a:nth-child(3){
 	-webkit-transition-delay:.1s;transition-delay:.1s;
 }
 figure.effect-zoe:hover p.icon-links a:nth-child(2){
 	-webkit-transition-delay:.15s;transition-delay:.15s
 }
 figure.effect-zoe:hover p.icon-links a:first-child{
 	-webkit-transition-delay:.2s;transition-delay:.2s;
 }
/*FIN effets CSS programme*/


/*FIN CSS programmes*/

/* Photothèque ----------------------------------------------------------*/

button {
    padding: 0px 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: hand;
  background: black;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
  font-size: 18px;
  font-weight: bold;
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
/* PRESSE ----------------------------------------------------------------------------------------------*/
.carousel-inner>.item img{
  margin: auto;
}
/* CONTACT --------------------------------------------------------------------------------------------- */
 .map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
        
    }
.header {
        background-color: #F1F0F1;
        color: rgb(246, 139, 31);
        height: 70px;
        font-size: 45px;
        padding: 10px;
    }

legend {

  background-color: #F1F0F1;
}

.well {
  background-color: #F1F0F1;
}

.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

/*CSS Livre d'or*/
#livrOr{
  padding-left: 20px; 
}
#formulaire {
  color : #333;
  font-size: 18px;
}
#formulaire > form {
  background-color: #f0f1f0;
  padding: 10px 10px 10px 10px;
  margin-bottom: 25px;

}
.btn-primary{
  background-color: #949494;
  border-color: #949494;
  font-size: 16px;
}

/*CSS footer*/
#partenaires {
	font-size: 20px;
	border-top: 1px solid #333;
	padding-left: 10px;
}
#title {
	padding-left: 20px;
	padding-bottom: 10px;
	color: #333;
}

