/* Définition des polices personnalisées */



/* Eléments principaux de la page */



/* Header */



/* Navigation */



/* Body */



/* Programmes */
#blocDate{
	width: 80%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
.ligne{
	width:100%;
	display: flex;
	flex-direction: nowrap;
	justify-content: space-between;
}
.bloc{
	max-width: 300px;
	height: auto;
}



/* Footer */